<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Chat room</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="lib/jquery-3.1.1.min.js"></script>
    <script src="js/xuly.js"></script>
    <style>
        .active {
            color: red
        }
    </style>
</head>

<body>
    <h1 style='text-align: center; color: blue'>Demo room chat</h1>
    <div id="div-dang-ky">
        <label>Đăng ký nickname chat:</label>
        <br />
        <input type="text" id="txt-username" placeholder="Nhập nickname vô..." />
        <br><br>
        <button id="btn-dang-ky">Đăng ký</button>
    </div>
    <div id="div-an-khi-dang-ky">
        <h3 id="welcome-login" style="text-align: right"></h3>
        <div id="div-tao-room">
            <input type="text" id="txt-room" placeholder="Nhập tên room mới...">
            <br><br>
            <button id="btn-tao-room">Tạo room</button>
        </div>
        <div id="div-chat">
            <h3 style='color:yellowgreen'>Danh sách các room chat:</h3>
            <ul id="list-room">
                <%mangRoom.forEach(room_item => {%>
                <li class="item-room"><%=room_item%></li>
                <%})%>
            </ul>
            <hr>
            <ul id="list-message"></ul>
            <input type="text" id="txt-msg" placeholder="Chat vô đây..." />
            <br><br>
            <button id="btn-send">Gửi</button>
        </div>
    </div>
</body>

</html>